.form {
 margin: o auto;
 max-width: 40rem;
 
}

.form__input {
    display: flex;
    flex-direction: column;
    margin: 1rem auto ;
    justify-content: space-between;
    
}

.payment__btn{
    display: block;
    width: 30%;
    margin:  auto;
}

